[Unit]
Description=Fan Control Script
After=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/yuanjian/Research/rasp5_cooling
ExecStart=/home/yuanjian/Research/rasp5_cooling/fan/bin/python3 /home/yuanjian/Research/rasp5_cooling/RGB_Cooling_HAT.py
Restart=on-failure

[Install]
WantedBy=multi-user.target